<html>
  <head>
    <title>Implementação Serviços</title>
  </head>
  <body>
  	<h1><%= @servico.first["nome"] %></h1>
  	<h2><%= @recurso.first["label"] %></h2>

	<pre><%= @resposta %></pre>

  </body>
</html>